.container {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 100%;
}

.cell {
  height: 300px;
  width: 1060px;
  position: relative;

  display: flex;
  justify-content: center;
  margin: 14px;
}

.cell img {
  border-radius: 5px;
  filter: brightness(50%);
  cursor: pointer;
}

.window {
  overflow: hidden;
  position: relative;
  top: 20%;
  height: 300px;
  width: 100%;
}

.btn_left {
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  left: 200px;
  filter: opacity(0.6);
  border-radius: 15px;
  border: 0;
}
.btn_right {
  width: 30px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  right: 200px;
  filter: opacity(0.6);
  border-radius: 15px;
  border: 0;
}

.title {
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-left: 18px;
  font-size: 22px;
}

.subtitle {
  margin-top: 0;
  margin-left: 20px;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  color: #36f;
  margin-top: 15px;
}

.box {
  height: 146px;
  width: 330px;
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.bar {
  margin: 0;
  border: 0;
  height: 1px;
  background: rgb(224, 222, 222);
}

/* 반응형 */
@media screen and (max-width: 1000px) {
  .cell img {
    width: 630px;
    height: 180px;
  }
  .btn_left {
    display: none;
  }
  .btn_right {
    display: none;
  }
  .cell {
    flex-direction: column;
    align-items: center;
  }
  .box {
    margin-top: 40px;
    position: relative;
    align-items: center;
    display: flex !important;
  }
  .title {
    margin-left: 0;
  }

  .subtitle {
    margin-left: 0;
  }

  .link {
    margin: 0;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .cell img {
    width: 1060px;
    height: 300px;
  }
  .btn_left {
    position: absolute;
    bottom: 110px;
    left: 100px;
  }

  .btn_right {
    position: absolute;
    bottom: 110px;
    right: 100px;
  }
}

@media (min-width: 1501px) and (max-width: 2000px) {
  .btn_left {
    position: absolute;
    bottom: 110px;
    left: 300px;
  }

  .btn_right {
    position: absolute;
    bottom: 110px;
    right: 300px;
  }
}

@media (min-width: 2001px) and (max-width: 2400px) {
  .btn_left {
    position: absolute;
    bottom: 110px;
    left: 500px;
  }

  .btn_right {
    position: absolute;
    bottom: 110px;
    right: 500px;
  }
}

@media (min-width: 2401px) and (max-width: 2600px) {
  .btn_left {
    position: absolute;
    bottom: 110px;
    left: 600px;
  }

  .btn_right {
    position: absolute;
    bottom: 110px;
    right: 600px;
  }
}
@media (min-width: 2701px) {
  .btn_left {
    position: absolute;
    bottom: 110px;
    left: 1000px;
  }

  .btn_right {
    position: absolute;
    bottom: 110px;
    right: 1000px;
  }
}
